---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=<map_key>&location=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Wed, 28 Sep 2022 01:35:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      X-Vz-Migration-Api:
      - 'false'
      Status:
      - success
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Denver"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<map_key>&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1359801918"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Lancaster
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CIT[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<weather_key>&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1664328933,"sunrise":1664283136,"sunset":1664326167,"temp":67.46,"feels_like":66.02,"pressure":1022,"humidity":45,"dew_point":45.41,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":1.01,"wind_deg":175,"wind_gust":1.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1664326800,"temp":67.78,"feels_like":66.29,"pressure":1022,"humidity":43,"dew_point":44.51,"uvi":0,"clouds":45,"visibility":10000,"wind_speed":11.25,"wind_deg":190,"wind_gust":17.45,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.28},{"dt":1664330400,"temp":67.46,"feels_like":66.02,"pressure":1022,"humidity":45,"dew_point":45.41,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":7.54,"wind_deg":185,"wind_gust":11.99,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0.24},{"dt":1664334000,"temp":67.57,"feels_like":66.09,"pressure":1022,"humidity":44,"dew_point":44.91,"uvi":0,"clouds":44,"visibility":10000,"wind_speed":4.16,"wind_deg":201,"wind_gust":7.2,"weather":[{"id":[...]
